// font-family: 'Montserrat', sans-serif;
// font-family: 'Yeseva One', cursive;

body {
    font-family: 'Montserrat', sans-serif;
}

h1, 
h2,
h3,
h4,
h5 {
    font-family: 'Yeseva One', cursive;
}

p {
    font-size: 1.1rem;

    @media screen and (min-width: 769px) {
        font-size: 1.25rem;
    }
}

// Header
header {
    border-bottom: #ababab 1px solid;

    .navbar-toggler {
        align-self: flex-end;
        color: $primary;
        margin-right: 7px;
        margin-bottom: 7px;

        .icon-bar {
            display: block;
            background-color: $primary;
            height: 3px;
            width: 25px;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 5px;
            position: relative;
            left: 0;
            opacity: 1;
            transition: all 0.35s ease-out;
            transform-origin: center left;
        }

        &.top-bar {
            transform: translate(0%, 0%) rotate(0deg);
            margin-top: 0.3em;
        }

        &:not(.collapsed) .top-bar {
            transform: translate(15%, -33%) rotate(45deg);
        }

        &.middle-bar {
            opacity: 1;
        }

        &:not(.collapsed) .middle-bar {
            opacity: 0;
        }

        &.bottom-bar {
            transform: translate(0%, 0%) rotate(0deg);
        }

        &:not(.collapsed) .bottom-bar {
            transform: translate(15%, 33%) rotate(-45deg);
        }
    }
    .navbar-nav {
        .nav-link {
            &:hover {
                opacity: 75%;
                transform: scale(1.05);
            }
        }
    }
}

// Hero
.hero {
    p {
        font-weight: 600;
    }
}

// About
.about {
    .content {
        background-color: #f1ebb5;
        border-radius: 13px;

        padding-top: 50px;
        padding-bottom: 50px;

        @media screen and (min-width: 576px) {
            padding-top: 150px;
            padding-bottom: 150px;
        }

        h2 {
            position: relative;
            width: fit-content;

            &:after {
                content: '';
                display: block;
                position: absolute;
                background-color: #000;
                height: 3px;
                width: 31.5%;
                left: 0;
                bottom: 0;
                transition: .5s ease-in-out;
            }

            span {
                opacity: 30%;
                transition: .5s ease-in-out;
            }

            &:hover {
                &:after {
                    width: 49.5%;
                    right: 0;
                    transform: translateX(103%);
                }

                span {
                    opacity: 100%;
                }
            }
        }

        .text {
            max-width: 1020px;
        }
    }
}

// Features
.features {
    h2 {
        position: relative;
        width: fit-content;
        padding-bottom: 25px;

        &:after {
            content: '';
            position: absolute;
            background-color: #000;
            height: 3px;
            bottom: 0;
            left: 40%;
            right: 40%;
            transition: .5s ease-in-out;
        }

        &:hover {
            &:after {
                left: 30%;
                right: 30%;
            }
        }
    }

    .content {
        width: 92%;
        margin: 0 auto;

        .feature {
            width: 360px;
            border-radius: 13px;
            box-shadow: 0 10px 100px 0 rgba($color: #000000, $alpha: 0.2);
            padding: 0;
    
            .feature-icon {
                border-radius: 13px 13px;
    
                img {
                    width: 100%;
                    height: 210px;
                }
            }
    
            .feature-description {
                padding: 20px 10px;
    
                h3 {
                    margin-bottom: 30px;
                }
        
                p {
                    line-height: 1.15;
                }
            }

            &:feature-ext {
                transition: opacity .5s ease-in-out;
            }
        }
    }
}

// Login
.login {
    position: relative;
    background-color: $primary;
    background: linear-gradient(rgba(12, 92, 170, 0.93), rgba(12, 92, 170, 0.93)), url(../img/girl_bg.jpg) no-repeat;
    background-position: 50% 20%;
    background-size: 140%;
    border-radius: 13px;
    color: #fff;
    margin-top: 15px;

    .girl-img {
        display: none;

        img {
            width: 80%;
        }

        @media screen and (min-width: 769px) {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 0;
        }

        @media screen and (min-width: 993px) {
            img {
                width: 100%;
            }
        }

        @media screen and (min-width: 1201px) {
            left: 10%;
        }
    }

    p {
        line-height: 1.1;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;

        @media screen and (min-width: 1201px) {
            width: 85%;
        }

        .btn {
            flex: 1;
            font-size: 1.1rem;
            color: #000;
            box-shadow: none;

            &:hover {
                color: #000000ab;
            }

            @media screen and (min-width: 1201px) {
                font-size: 1.25rem;
            }
        }

        .btn-primary {
            background-color: #fff;
            max-width: calc(30% - 5px);

            @media screen and (min-width: 420px) {
                max-width: calc(40% - 7.5px);
            }
        }
        
        .btn-secondary {
            background-color: #f0c700;
            max-width: calc(70% - 5px);

            &:hover {
                background-color: #fbda33;
            }

            @media screen and (min-width: 420px) {
                max-width: calc(60% - 7.5px);
            }
        }
    }
}

// Charity
.charity {
    .owl-carousel {
      .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .charity-logo {
                display: flex;
                align-items: center;
                width: 220px;
                height: 120px;
                margin-bottom: 25px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            .charity-logo-1 {
                background-image: url('./img/charity_logo_1.png');
            }

            .charity-logo-2 {
                background-image: url('./img/charity_logo_2.png');
            }

            .charity-logo-3 {
                background-image: url('./img/charity_logo_3.png');
            }

            .charity-logo-4 {
                background-image: url('./img/charity_logo_4.png');
            }

            p {
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                line-height: 1.1;
            }
        }
    }
  }
  

// Contact
.contact {
    position: relative;
    background-color: #0c5caa;

    border-radius: 20px;
    color: #fff;
    
    margin-top: 100px;

    @media screen and (min-width: 769px) {
        margin-top: 140px;
    }

    @media screen and (min-width: 993px) {
        margin-top: 170px;
    }


    @media screen and (min-width: 1201px) {
        margin-top: 210px;
    }

        &:after {
            content: '';
            position: absolute;
            background-color: inherit;
            border-radius: 20px;
            top: -10%;
            right: 0;
            height: 180px;
            width: 100%;
            z-index: -1;
            transform: skewY(357deg);
        }

        &:before {
            content: "";
            position: absolute;
            top: -20%;
            left: 0;
            right: 0;
            bottom: 0;  
            opacity: 17%;
            z-index: 1;
            background: url(../img/contact_bg2.png) no-repeat;
            background-size: cover;
            background-position: 60% 75%;
        }

    .content {
        position: relative;
        z-index: 1;

        .form {
            max-width: 650px;
    
            input, textarea {
                font-weight: 500;
                border-radius: 0.5rem;
    
                &::placeholder {
                    font-style: italic;
                }
            }
    
            textarea {
                min-height: 90px;
                max-height: 250px;
            }
    
            .btn {
                background-color: #f0c700;
                color: #000;
                box-shadow: 0 10px 50px -10px #1b1b1b;
    
                &:hover {
                    background-color: #fbda33;
                    color: #000000ab;
                }
            }
        }
    
        .social {
            a {
                font-size: 1.25rem;
                color: #000;
                margin-right: 10px;
                transition: .35s;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}
