// font-family: 'Montserrat', sans-serif;
// font-family: 'Yeseva One', cursive;

body {
    font-family: 'Montserrat', sans-serif;
}

h1, 
h2,
h3,
h4,
h5 {
    font-family: 'Yeseva One', cursive;
}

p {
    font-size: 1.25rem;
}

header {
    border-bottom: #ababab 1px solid;

    .navbar-toggler {
        align-self: flex-end;
        color: $primary;
        margin-right: 7px;
        margin-bottom: 7px;

        .icon-bar {
            display: block;
            background-color: $primary;
            height: 3px;
            width: 25px;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 5px;
            position: relative;
            left: 0;
            opacity: 1;
            transition: all 0.35s ease-out;
            transform-origin: center left;
        }

        &.top-bar {
            transform: translate(0%, 0%) rotate(0deg);
            margin-top: 0.3em;
        }

        &:not(.collapsed) .top-bar {
            transform: translate(15%, -33%) rotate(45deg);
        }

        &.middle-bar {
            opacity: 1;
        }

        &:not(.collapsed) .middle-bar {
            opacity: 0;
        }

        &.bottom-bar {
            transform: translate(0%, 0%) rotate(0deg);
        }

        &:not(.collapsed) .bottom-bar {
            transform: translate(15%, 33%) rotate(-45deg);
        }
    }
}

// Hero
.hero {
    p {
        font-weight: 600;
    }
}

// About
.about {
    .content {
        background-color: #f1ebb5;
        border-radius: 13px;

        padding-top: 150px;
        padding-bottom: 150px;

        .container {
            max-width: 1020px;
        }
    }
}

// Features


// Login
.login {
    position: relative;
    background-color: $primary;
    border-radius: 13px;
    color: #fff;

    .girl-img {
        position: absolute;
        bottom: 0;
        left: 10%;

        img {
            width: 90%;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 15px;

        .btn-primary {
            background-color: #fff;
            color: #000;
        }
        
        .btn-secondary {
            background-color: #f0c700;
            color: #000;
        }
    }
}